@font-face {
    font-family: 'Roboto';
    src: url('../public/fonts/Roboto-Bold.eot');
    src: url('../public/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Roboto-Bold.woff2') format('woff2'),
        url('../public/fonts/Roboto-Bold.woff') format('woff'),
        url('../public/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../public/fonts/Roboto-Medium.eot');
    src: url('../public/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Roboto-Medium.woff2') format('woff2'),
        url('../public/fonts/Roboto-Medium.woff') format('woff'),
        url('../public/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../public/fonts/Roboto-Regular.eot');
    src: url('../public/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Roboto-Regular.woff2') format('woff2'),
        url('../public/fonts/Roboto-Regular.woff') format('woff'),
        url('../public/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'Roboto';
}
.btn-primary{
    @apply bg-gradient-to-r from-pink-1 to-pink-2
}
.page-width{
    @apply max-w-1750px mx-auto px-6
}
.home_page{
    background: url(../public/images/body-bg.png);
    background-size: cover;
    background-repeat: no-repeat
}
@media ( max-width: 767px ){
    .dropdown-block{
        background: linear-gradient(94.9deg, rgba(255, 64, 255, 0.23) 0%, rgba(255, 64, 255, 0) 100%);
        backdrop-filter: blur(43.5px);
        @apply border border-white/30
    }
}